<form>
  <div class="form-group">
    <label>{{localize "l5r4.ui.common.name"}}</label>
    <input type="text" name="itemName" placeholder="{{localize 'l5r4.ui.sheets.addTechSpell'}}">
  </div>
  <div class="form-group">
    <label>{{localize "l5r4.ui.common.type"}}</label>
    <select name="itemType">
      <option value="technique">{{localize "TYPES.Item.technique"}}</option>
      <option value="spell" selected="">{{localize "TYPES.Item.spell"}}</option>
      <option value="kata">{{localize "TYPES.Item.kata"}}</option>
      <option value="kiho">{{localize "TYPES.Item.kiho"}}</option>
      <option value="tattoo">{{localize "TYPES.Item.tattoo"}}</option>
    </select>
  </div>
</form>
