<form>
  <div class="form-group">
    <label>{{localize "l5r4.ui.common.name"}}</label>
    <input type="text" name="itemName" placeholder="{{localize 'l5r4.ui.sheets.addAdv/Dis'}}">
  </div>
  <div class="form-group">
    <label>{{localize "l5r4.ui.common.type"}}</label>
    <select name="itemType">
      <option value="advantage">{{localize "l5r4.ui.sheets.advantage"}}</option>
      <option value="disadvantage">{{localize "l5r4.ui.sheets.disadvantage"}}</option>
    </select>
  </div>
</form>
