<form>
  <div class="form-group">
    <label>{{localize "l5r4.ui.common.name"}}</label>
    <input type="text" name="itemName" placeholder="{{localize 'l5r4.ui.sheets.addEquipment'}}">
  </div>
  <div class="form-group">
    <label>{{localize "l5r4.ui.common.type"}}</label>
    <select name="itemType">
      <option value="armor">{{localize "TYPES.Item.armor"}}</option>
      <option value="item">{{localize "TYPES.Item.commonItem"}}</option>
      <option value="weapon" selected="">{{localize "l5r4.equipment.weapons.typeWeapon"}}</option>
    </select>
  </div>
</form>
