<section class="standard-form">
  <div class="form-group">
    <label>{{localize "l5r4.equipment.weapons.size"}}</label>
    <div class="form-fields">
      <select name="system.size">
        {{selectOptions config.sizes selected=system.size localize=true}}
      </select>
    </div>
  </div>
  {{#if isOwnedByCharacter}}
    {{#if hasCharacterSkills}}
      <div class="form-group">
        <label>Associated Skill</label>
        <div class="form-fields">
          <select name="system.associatedSkill">
            {{selectOptions skillOptions selected=system.associatedSkill}}
          </select>
        </div>
      </div>
    {{/if}}
    <div class="form-group">
      <label>{{#if hasCharacterSkills}}Fallback {{/if}}Trait</label>
      <div class="form-fields">
        <select name="system.fallbackTrait">
          {{selectOptions config.traits selected=system.fallbackTrait localize=true}}
        </select>
      </div>
    </div>
  {{else}}
    <div class="form-group">
      <label>Associated Skill</label>
      <div class="form-fields">
        <input name="system.associatedSkill" type="text" value="{{system.associatedSkill}}" placeholder="e.g., Kyujutsu" disabled />
      </div>
    </div>
    <div class="form-group">
      <label>Fallback Trait</label>
      <div class="form-fields">
        <select name="system.fallbackTrait">
          {{selectOptions config.traits selected=system.fallbackTrait localize=true}}
        </select>
      </div>
    </div>
  {{/if}}
  <div class="form-group">
    <label>{{localize "l5r4.mechanics.traits.str"}}</label>
    <div class="form-fields">
      <input name="system.str" type="number" value="{{system.str}}" data-type="Number" />
    </div>
  </div>
  <div class="form-group">
    <label>{{localize "l5r4.equipment.weapons.range"}}</label>
    <div class="form-fields">
      <input name="system.range" type="number" value="{{system.range}}" data-type="Number" />
    </div>
  </div>
  <div class="form-group">
    <label>{{localize "l5r4.equipment.weapons.arrow"}}</label>
    <div class="form-fields">
      <select name="system.arrow">
        {{selectOptions config.arrows selected=system.arrow localize=true}}
      </select>
    </div>
  </div>
  <div class="form-group">
    <label>{{localize "l5r4.mechanics.rolls.damageRoll"}}</label>
    <div class="form-fields">
      <input name="system.damageRoll" type="number" data-type="Number" value="{{system.damageRoll}}" />
    </div>
  </div>
  <div class="form-group">
    <label>{{localize "l5r4.mechanics.rolls.explodesOn"}}</label>
    <div class="form-fields">
      <input name="system.explodesOn" type="number" data-type="Number" value="{{system.explodesOn}}" />
    </div>
  </div>
</section>
