<section class="standard-form">
  <div class="form-group">
    <label>{{localize "l5r4.equipment.weapons.size"}}</label>
    <div class="form-fields">
      <select name="system.size">
        {{selectOptions config.sizes selected=system.size localize=true}}
      </select>
    </div>
  </div>
  <div class="form-group">
    <label>{{localize "l5r4.mechanics.rolls.damageRoll"}}</label>
    <div class="form-fields">
      <input name="system.damageRoll" type="number" data-type="Number" value="{{system.damageRoll}}" />
    </div>
  </div>
  <div class="form-group">
    <label>{{localize "l5r4.equipment.weapons.damageKeep"}}</label>
    <div class="form-fields">
      <input name="system.damageKeep" type="number" data-type="Number" value="{{system.damageKeep}}" />
    </div>
  </div>
  <div class="form-group">
    <label>{{localize "l5r4.mechanics.rolls.explodesOn"}}</label>
    <div class="form-fields">
      <input name="system.explodesOn" type="number" data-type="Number" value="{{system.explodesOn}}" />
    </div>
  </div>
</section>
